
#about {
    padding-top: 150px;
    padding-bottom: 50px;
  }
#projects{
    padding-bottom: 50px;
}
@media only screen and (max-width: 900px){
.card-text{
  height: 500px;
}
}
@media only screen and (max-width: 1000px){
  .card-text{
    height: 350px;
  }
  }

  @media only screen and (min-width: 1000px){
    .card-text{
      height: 250px;
    }
    }

